.App {
  text-align: left;
  height: calc(100vh - 40px);
  width: calc(100vw - 40px);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: scroll;
}

input:focus-visible {
  outline: none;
}
