
body {
  margin: 0;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

input, select, textarea, button, code {
  font-family: inherit;
  font-size: inherit;
}

p {
  margin: 0;
}

#root {
  height: 100%;
}
